/* NOTE: Logsign = Login + SignUp */


/* Login + Signup prompt/confirmation */

.root {
    -fx-font-family: "Constantia";
}

.normalLabels {
    -fx-font-size: 14px;
}


.logsign_prompt:hover {
    -fx-fill: #1cddaa;
}

/* Login + Signup button */

.logsign_button {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-width: 0.2px;
    -fx-border-radius: 10px;
}

.logsign_button:hover {
    -fx-border-color: rgb(58, 58, 58);
    -fx-border-width: 0.5px;
}

/* Dashboard Confirm Button */

.confirmButton {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-color: gray;
    -fx-border-width: 0.2px;
    -fx-border-radius: 10px;
}

.confirmButton:hover {
    -fx-border-color: rgb(58, 58, 58);
    -fx-border-width: 0.5px;
}

/* TicketIcon Dashboard */

.ticketIcon {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-color: gray;
    -fx-border-width: 0.2px;
    -fx-border-radius: 10px;
}

.ticketIcon:hover {
    -fx-border-color: rgb(58, 58, 58);
    -fx-border-width: 0.5px;
}

/* Home Button (Ticket) */

.homeButton {
    -fx-background-color: #69DAAE;
    -fx-fill: #69DAAE;
    -fx-background-radius: 10px;
    -fx-border-width: 0.2px;
    -fx-border-radius: 10px;
}

.homeButton:hover {
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-width: 0.5px;
}

/* Ticket Next / Previous Button */

.nextButton, .previousButton {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-color: gray;
    -fx-border-width: 0.4px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
}

.nextButton:hover, .previousButton:hover {
    -fx-border-color: rgb(58, 58, 58);
    -fx-border-width: 0.5px;
    -fx-font-size: 14px;
}

/* Logout Label Hover */

.logoutLabel:hover {
    -fx-fill: #ff6e6e;
}